@import url('./index.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

/*----------------------------NAV--------------------------*/

.nav_container{
    display: flex;
    padding: 10px 100px;
    align-items: center;
    justify-content: space-between;
}

.nav_left{
    display: flex;
}

.nav_left a{
    color: var(--main-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.nav_right ul{
    display: flex;
    list-style: none;  
}

.nav_right ul li{
    padding: 10px 20px; 
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-color);
}


.nav_right ul li:hover{
    color: var(--main-color);
}

.moon_icon{
    width: 25px;
    height: 25px;
}
.moon_icon img{
    width: 100%;
}



